:root {
    --red-color: rgba(255, 86, 52, 1);
    --black-color: black;
    --white-color: white;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding-top: 10px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 109px;
    box-sizing: border-box;
}

.logo-block__left {
    display: flex;
}

.logo-block__img > img {
    height: 5vh;
}


.logo-block__right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* flex-grow: 1; */
}

nav li{
    margin: 0 16px;
}

.logo-block__nav > nav li:nth-child(5) {
    margin: 0 44px;
}

.logo-block__nav > nav li > a:hover {
    color: var(--red-color);
}

.block__btn > a {
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.block__btn1 > a { 
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
}

.block__btn2 > a {
    background: var(--red-color);
    color: var(--white-color);
}

.block__btn1 > a:hover {
    background: var(--black-color);
    color: var(--white-color);
}

.block__btn2 > a:hover {
    background: rgb(131, 0, 0);
}

main {
    width: 100%;
    padding-left: 157px;
    box-sizing: border-box;
}

.col1 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-bottom: 59px;
}

.col1__text {
    width: 60%;
    position: relative;
    z-index: 1;
    padding: 162px 0 0 0;
    box-sizing: border-box;
}

.col1__text-content {
    display: flex;
    flex-direction: column;
    width: 53%;
    gap: 30px;
}

.col1__header {
    
    padding-right: 30px;
    box-sizing: border-box;
}

.col1__header h1 {
    font-size: 60px;
    margin: 0;
    margin-bottom: 30px;
}

.col1__header p {
    font-size: 20px;
    color: var(--red-color);
    text-transform: uppercase;
}

.col1__header p~p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.637);
    line-height: 30px;
    text-transform: none;
}

.col1__count-block {
    display: flex;
    gap: 35px;
}

.col1__count > h3 {
    font-size: 50px;
    margin: 0;
}

.col1__count > p {
    margin: 0;
    color: rgba(0, 0, 0, 0.582);
}

.col1__count h3::after {
    content: '+';
    color: var(--red-color);
}

.col1__img {
    position: absolute;
    right: 30%;
    top: 31%;
    z-index: 2;
}

.col1__btn {
    display: flex;
    gap: 27px;
    border-bottom: 1px solid var(--black-color);
    padding-bottom: 60px;
}

.col1__backround {
    flex-grow: 1;
    height: 100%;
    position: relative;
    background: url('images/main/backround.png') no-repeat;
    background-size: cover;
    z-index: 1;
}

.col2 {
    width: 95%;
    display: flex;
    flex-direction: column;
    /* padding-right: 61px; */
    gap: 48px;
    box-sizing: border-box;
    margin-bottom: 320px;
}

.col2__header {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.col2__content {
    display: flex;
    justify-content: space-between;
}

.col2__content img {
    width: 239px;
}

.col3 {
    width: 95%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 56px;
    margin-bottom: 200px;
}

.col3__header {
    width: 55%;
    text-align: center;
    margin: 0 auto;
}


.col3-header__span{
    color: var(--red-color);
    font-size: 20px;
}

.col3__header h2{
    font-size: 50px;
    margin: 0;
    margin-bottom: 22px;
}

.col3__header h2 > span{
    font-weight: 800;
    color: black;
}

.col3__header p {
    font-size: 15px;
}

.col3__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 140px;
    row-gap: 80px;
}

.col3__block {
    text-align: center;

}

.col3__block p:nth-child(2) {
    font-size: 30px;
}

.col3__block p:nth-child(3) {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.548);
}

.col3__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 27px;
}

.col4 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.637);
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.col4__left {
    width: 35%;
    line-height: 50px;
}

.col4__right {
    display: flex;
    align-items: center;
    gap: 27px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 157px;
    box-sizing: border-box;
}

footer li > a {
    color: rgba(0, 0, 0, 0.473);
}


footer li {
    display: block;
    margin-bottom: 17px;
}
.footer__col1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}

.footer-menu__content {
    display: flex;
    gap: 70px;
    margin-top: 40px;
}


.footer__footer-utility li{
    display: block;
}

.footer-utility__items {
    margin-top: 40px;
}

.footer__cards {
    display: flex;
    flex-direction: column;
}

.footer__cards-content {
    display: flex;
    gap: 70px;
    margin-top: 30px;
    flex-grow: 1;
}

.footer__cards-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__col2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__col2 p:nth-child(even) {
    color: var(--red-color);
}